# Configurações de Segurança
ENCRYPTION_KEY=
# Configurações do Backup Automático
BACKUP_HOUR=
BACKUP_MINUTE=
# Banco de Dados de Gestão
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
BACKUP_DIR=
# Flask
SECRET_KEY=postgres_backup_secret_key
#
WAHA_ENABLED=
WAHA_BASE_URL=
WAHA_SESSION=
WAHA_TARGET_NUMBER=
WAHA_API_KEY=